.indent{
	width: 75%;
	margin: 0 auto;
}

img.rwd{
	/*Use this Class, along with a styled parent div, to create responsive images */
	width: 100%;
	height: auto;
} 

.wrapper{
	width: 80%;
	margin: 0 auto;	
}

.tele{
	color: $li-txt-color;
	text-decoration: none;
	cursor: default;
}

.inline{
	display: block;

	@media screen and (min-width: 800px){
		display: inline-block;
		vertical-align: top;

	}
}

.left{
	float: left;
}

.right{
	float: right;
}