.indent{
	width: 75%;
	margin: 0 auto;
}

img.rwd{
	/*Uses JS to add a max-width to the original images width */
	width: 100%;
	height: auto;
	margin: 0 15px 15px;
} 

.wrapper{
	width: 80%;
	margin: 0 auto;	
}

.tele{
	color: $li-txt-color;
	text-decoration: none;
	cursor: default;
}

.inline{
	display: block;

	@media screen and (min-width: $mobile-break){
		display: inline-block;
		vertical-align: top;

	}
}

.left{
	float: left;
}

.right{
	float: right;
}