

//cursive font
@font-face {
  font-family: 'lambo';
  src: url('fonts/lambohmk-webfont.woff2') format('woff2'),
  url('fonts/lambohmk-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

//workhorse font
@font-face {
  font-family: 'forum';
  src: url('fonts/forum-regular-webfont.woff2') format('woff2'),
  url('fonts/forum-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}