

footer#colophon{
	background: $footer-bg-color;
	width: 100%;
	flex: 1;
	position: relative;
    padding: 15px 0;
	top: -5px;

	.ft-ct{
		text-align: justify;

		.inline{
			text-align: left;
		}
	}

	p, ul, a, h1, h2, h3, h4, h5,.copyright, .credit {
		color: #f7f7f7;
	}

    ul{
      margin: 0;
      padding: 0;

      li{
        list-style: none; margin: 10px 0;
      }
    }

  .ft-profile{
    text-align: center;
  }

	.ft-profile-img{
		max-width: 125px;
	}

	.copyright{text-align: right;}

		.copyright, .credit{
			width: 49%;
			font: 1em $copyright;
			margin: .2em;

			a{				
				color: $copyright-text-color;
				text-decoration: none;

				&:hover{
					text-decoration: underline;
				}
			}

			@media screen and (max-width: $mobile-break){
				text-align: center;

			}

		}

	

}

 