footer#colophon{
	background: $footer-bg-color;
	width: 100%;
	height: 5em;
	position: relative;

	.copyright{text-align: right;}

		.copyright, .credit{
			width: 49%;
			font: 1em $copyright;
			margin: .2em;

			a{				
				color: $copyright-text-color;
				text-decoration: none;

				&:hover{
					text-decoration: underline;
				}
			}

			@media screen and (max-width: $mobile-break){
				text-align: center;

			}

		}

	

}

 