/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;  
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*============== End CSS Reset =============== */


html{
	margin-bottom: 0!important;

	}

body{
	background-color: $main-background-color;
	position: relative;
	height: 100%;
	font: 1em $txt-font;
	display: flex;
  	min-height: 100vh;
  	flex-direction: column;
}

a{
	color: $link-color;	
	text-decoration: underline;} 

a:hover{
	text-decoration: none;}	

h1{
	color: $h-content-color;
	font: 2rem $h-font;
}	

h2{
	color: $h-content-color;
	font: 1.7rem $h-font;
	}
	
h3{
	color: $h-content-color;
	font: 1.5rem $h-font;}	

h4{
	color: $h-content-color;
	font: 1.25rem $h-font;
}	

p{
	
	color: $text-color;
	margin: 1rem 0;
	line-height: 100%;
}	

ul{

	width: 80%;
	margin: 0 auto;

		li{
			color: $li-txt-color;
			font: 1rem $txt-font;
			letter-spacing: 1px; 
			list-style: square;
		}
	}

hr{
	color:$hr-color;
	background-color: $hr-color;
	border: none;
	height: 1px;
}
