html{
	margin-bottom: 0!important;

	}

body{
	background-color: $main-background-color;
	position: relative;
	height: 100%;
	font: 1em $txt-font;
	@include display-flex;
    @include flex-direction(column);
    flex-wrap: wrap;
  	min-height: 100vh;
	z-index: 1;
  	
}

a{
	color: $link-color;	
	text-decoration: underline;} 

a:hover{
	text-decoration: none;}	

h1{
	color: $h-content-color;
	font: 2rem $h-font;
}	

h2{
	color: $h-content-color;
	font: 1.7rem $h-font;
	}
	
h3{
	color: $h-content-color;
	font: 1.5rem $h-font;}	

h4{
	color: $h-content-color;
	font: 1.25rem $h-font;
}	

p{
	
	color: $text-color;
	margin: 1rem 0;
	line-height: 100%;
}	

ul{

	width: 80%;
	margin: 0 auto;

		li{
			color: $li-txt-color;
			font: 1rem $txt-font;
			letter-spacing: 1px; 
			list-style: square;
		}
	}

hr{
	color:$hr-color;
	background-color: $hr-color;
	border: none;
	height: 1px;
}


#home, #left-sidebar, #right-sidebar{
	@media screen and (min-width: $mobile-break) {
		text-align: justify;
	}

	#primary, #secondary{
		width: 60%;
		text-align: left;
      position:relative;

		@media screen and (min-width: $mobile-break) {
			width: 60%;
		}

	}

	#secondary{
		width: 35%;
		text-align: left;

		@media screen and (min-width: $mobile-break){
			width: 35%;
		}
	}
}