#mobile-nav, .slicknav_menu{
	display: block;
}

#navbar{
	background-color: $nav-bg-color; 
	width: 100%; 
	position: relative;
	z-index:2;
	display: none;



	#site-navigation {
		position:relative;
		z-index: 3;
		width: auto;
		margin-right: 10%;

		 .nav-menu{ 
			 position: relative;
			 z-index: 5;
			 width: auto;
				 li{
					display: inline-block;
					position: relative;
					padding: 1.5em 1em 0 1em;
 

						a{
							@include single-transition(color, 0.3s, ease-in);
							color: #fff;
							font: 1.1rem $nav-font;
							text-decoration: none;
							

						}

						&.current_page_item{
							border-bottom: 5px solid  $nav-current-color;
						}
				}

				 li:hover{
					 a {
						 @include single-transition(color, 0.3s, ease-in);
						 color: $nav-text-hover;
					 }
						.sub-menu{
							left: 0;}

				}

				/*Styles for the Dropdown Navigation */
				.sub-menu{
					background-color: $nav-bg-color;
					position: absolute;
					z-index: 100;
					padding-top: 5px; 
					width: 12em;
					left: -999999px;
									

						li{
							display: list-item;
							list-style: none;
							padding: .5em;
							background: $nav-bg-color;
							a{
								color: #fff;
								display: block;
								}
							}

						li:hover{
							background: $hover-bg;
							a{
								color: $sn-link-color;}
						}	
				}
		}

	}

}

@media screen and (min-width: $mobile-break){
	#navbar{
		display: block;
	}

	#mobile-nav, .slicknav_menu{
		display: none;
	}


}


