#site-navigation {
position:relative;
z-index: 3;
height: 100%;
width: 80%;
margin: 0 auto;

	 .nav-menu{ 
		 position: relative;
		 z-index: 5;
			 li{
				display: inline-block;
				position: relative;
				padding: 1.5em 1em 0 1em;


					a{
						color: #fff;
						font: 1.7em $nav-font;
						text-decoration: none;

					}
			}

			 li:hover{
				background-color: $hover-bg;
				//@include single-transition(background-color, ease-in);

					a{
						color: $link-color;
					//	@include single-transition(color, ease-in);
					}

					.children{
						left: 0;}

			}

			/*Styles for the Dropdown Navigation */
			.children{ 
				position: absolute;
				z-index: 100;				
				top: 3em;
				padding-top: 5px; 
				width: 12em;
				left: -999999px;
								

					li{
						display: list-item;
						padding: .5em;
						background: $bg-color;
						a{
							color: #fff;
							display: block;
							}
						}

					li:hover{
						background: $hover-bg;
						a{
							color: $sn-link-color;}
					}	
			}
	}

}


