@mixin submit(){

input[type=submit], button{
				background-color: $button-bg-color;
				color: #fff;
				border: none;
				padding: 8px;
				border-radius: 5px;
				margin-left: 15px; 
				font-size: 1.5em;
				display: inline-block;
  				box-shadow: 0 0 1px rgba(0, 0, 0, 0);

  				@include transition(background-color, 1s, ease-in);
  				@include transition(color, 1s, ease-in);

			}


			input[type=submit]:hover,  button:hover{
				background-color: $button-bg-hover-color;
				color: $button-text-hover-color;

				@include transition(background-color, 1s, ease-in);
				@include transition(color, 1s, ease-in);
			}

}

@mixin inputField(){

	input[type = text], textarea, input[type = email], input[type=search]{
				border-radius: 5px;
				padding: 10px;
				font: 1.2em $input-text;	
				margin: 10px 0;	}

			input[type = text]:active, input[type = text]:focus, textarea:active, textarea:focus{
				outline-color:  $border-color;
			}
}


@mixin rotate($deg){
	/* Safari */
	-webkit-transform: rotate($deg);

	/* Firefox */
	-moz-transform: rotate($deg);

	/* IE */
	-ms-transform: rotate($deg);

	/* Opera */
	-o-transform: rotate($deg);

	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);


}