//Standard Colors



$bg-color: #020B66;
$link-color: #1623B2;
$h-content-color: #665102;
$hr-color: #1623B2;
$label-color: #4A75B2;
$hover-bg: #5D92B2;
$text-color: #024466;
$li-txt-color: #41261a;
$input-text-color: #5a5e58;
$f-label-color: #020B66;
$sn-link-color: #5a5e58;
$topHeadColor:  #2cb230;


//Standard fonts

$txt-font:  Helvetica;
$h-font: "caviar";
$nav-font: Arial;
$copyright: "caviar";
$h-link-text: "bebas";
$comment-label-text: "bebas";
$f-a-tags: "caviar";
$input-text: "bebas";
$tagline: "bebas";
$label-font: "bebas";


