/* ============   Standard Colors   =======*/

//Background Colors
$main-background-color: #efefef;
$topHeadColor:  #1274B2;
$nav-bg-color: #009DFF;
$footer-bg-color: #1274B2;

//Text Colors

$copyright-text-color: #efefef;


//Nav Colors
$hover-border-colors: #CCCA14;
$nav-no-hover-color: $nav-bg-color;
$nav-current-color: #890F0F;


//#FF5C40
//Sidebar Colors

$border-color: #020B66;


//Form Colors
$button-bg-color: #1274B2;
$button-text-hover-color: $button-bg-color;
$button-bg-hover-color: #efefef;


//Font Colors
$link-color:#1274B2;
$h-content-color:#1274B2;
$f-label-color: #1274B2;
$hr-color: #666;
$text-color: #024466;
$li-txt-color: #757272;


$label-color: #4A75B2;
$hover-bg: #5D92B2;


$input-text-color: #5a5e58;

$sn-link-color: #5a5e58;





//Standard fonts

$txt-font:  Helvetica;
$h-font: "bebas";
$nav-font: Arial;
$copyright: "caviar";
$tagline: "caviar";


$h-link-text: "bebas";
$comment-label-text: "bebas";
$f-a-tags: "caviar";
$input-text: "bebas";

$label-font: "bebas";


$mobile-break: 880px;

